@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: auto;
    padding: 0;
    border: 0;
}


body {
    background-color: #000000;
    color:#ffffff;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

section, nav {
    margin-left: 10%;
    margin-right: 10%;
}

.nav-link {
    color:#ffffff;
}

.card-img-top {
    height: 240px;
    width:100%;    
}


